.tab-list-container {
    .close-icon {
        visibility: hidden;
    }
    .nav-link:hover .close-icon {
        visibility: visible;
    }
    .nav-link.active .close-icon {
        visibility: visible;
    }
    .unsave-icon {
        display: inline-block;
        width: 11px;
        height: 11px;
        background-color: #d9534f
    }
    .is-unsave.nav-link .close-icon {
        display: none;
    }
    .is-unsave.nav-link:hover .close-icon {
        display: inline-block;
    }
    .is-unsave.nav-link:hover .unsave-icon {
        display: none;
    }
}